@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* global styles start  */

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* global styles end */

/* navbar styles start */

nav {
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.nav_left-block {
  margin-left: 110px;
}

.logo {
  cursor: pointer;
  color: #0F2A59;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  display: inline-block;
}

.nav_right-block {
  width: 65vw;
  display: flex;
  margin-left: 15vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 7.5vw;
}

.nav-list {
  display: flex;
  width: 329px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-list>li {
  cursor: pointer;
  transition: .4s;
  color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
}

.nav-list>li:hover {
  color: #467edf;
  transition: .4s;
}

.arrow {
  margin-left: 6px;
}

.languages {
  width: 108px;
  font-size: 13px;
  font-weight: 980;
  display: flex;
  align-items: center;
}

.flag-block {
  width: 65px;
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
}

.flags {
  cursor: pointer;
  border-radius: 5px;
  transition: .4s;
}

.flags:hover {
  outline: 4px solid #E4F2FF;
  transition: .4s;
}

.navbar__btn_burger {
  display: none;
  position: relative;
}

.checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 4;
  cursor: pointer;
  transition: .9s;
}

.burger-menu {
  display: none;
  width: 200px;
  background-color: #b7b7b7;
  position: absolute;
  z-index: 1;
  border-radius: 15px;
  right: 0px;
  top: 30px;
  transition: .9s;
}

.burger-menu__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.burger-menu__btn_close {
  width: 23px;
  height: 21px;
  position: absolute;
  top: -28px;
  right: 0;
  background: white;
}

.burger-menu__list {
  padding: 12px;
}

.burger-menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  transition: .5s;
  cursor: pointer;
}

.burger-menu__item:first-child {
  border-radius: 9px 9px 0 0;
}

.burger-menu__item:last-child {
  border-radius: 0 0 9px 9px;
}

.burger-menu__item:hover {
  background-color: #181818;
  color: #b7b7b7;
  transition: .5s;
}

input[type="checkbox"]:checked~.burger-menu {
  display: block;
  transition: .9s;
}

/* navbar styles end  */

/* content styles start  */

.carousel {
  background: url(../images/Rectangle\ 138.jpg) no-repeat 0% 100%;
  background-size: 100%;
  position: relative;
  width: 100%;
  height: 41.6vw;
  display: flex;
}

.pagination-block {
  width: 95.3vw;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  top: 20vw;
  left: 2.3vw;
}

.carousel_left-block {
  width: 25.1vw;
  margin-left: 12.2vw;
  margin-top: 16.6vw;
}

.carousel__left_block-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  color: white;
}

.carousel__left_block-desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: white;
  margin-top: 20px;
}

.carousel__left_block-btn {
  background-color: transparent;
  margin-top: 53px;
  color: white;
  border: 2px solid white;
  font-size: 14px;
  padding: 10px 40px;
  transition: .4s;
}

.carousel__left_block-btn:hover {
  background-color: white;
  color: black;
  transition: .4s;
}

.pagination-block>img {
  cursor: pointer;
}

.pagination-block>img:last-child {
  rotate: 180deg;
}

.radio-group {
  left: 44%;
}

.carousel_right-block {
  margin-left: 6.4vw;
  width: 47vw;
  background: url(../images/Group\ 1223.png) no-repeat 90% 99% content-box;
  background-size: 100.5%;
}

.radio-group {
  position: absolute;
  bottom: 2vw;
  left: 44vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 161px;
}

/* content styles end  */


.container {
  width: 85.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 80px;
}

/* info block styles start */


.info_parent-block {
  margin-top: 34px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.info-block {
  cursor: default;
  padding-left: 16px;
  padding-top: 16px;
  border-left: 5px solid #EBEBEB;
  width: 26.9vw;
  height: 130px;
  transition: .4s;
}

.info-block:hover {
  border-left: 5px solid #0F2A59;
  transition: .8s;
}

.info-block1 {
  background: #f8f0 url(../images/Work.jpg) no-repeat;
  background-position: 100%;
  margin-right: 2.4vw;
}

.info-block2 {
  background: #f8f0 url(../images/Setting.jpg) no-repeat;
  background-position: 100%;
  margin-right: 2.4vw;
}

.info-block3 {
  background: #f8f0 url(../images/Tick\ Square.jpg) no-repeat;
  background-position: 100%;
  margin-right: 0;
}


.info-block3:hover {
  background: linear-gradient(270deg, rgba(110, 110, 110, .3) 10%,
      rgb(255, 235, 202) 100%), url(../images/Tick\ Square.jpg) no-repeat;
  transition: .4s;
  background-position: 100%;
}

.info-block2:hover {
  background: linear-gradient(270deg, rgba(110, 110, 110, .3) 10%,
      rgb(255, 235, 202) 100%), url(../images/Setting.jpg) no-repeat;
  transition: .4s;
  background-position: 100%;
}

.info-block1:hover {
  background: linear-gradient(270deg, rgba(110, 110, 110, .3) 10%,
      rgb(255, 235, 202) 100%), url(../images/Work.jpg) no-repeat;
  transition: .4s;
  background-position: 100%;
}

.info_block-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.info_block-desc {
  font-size: 14px;
  margin-top: 6px;
  font-weight: 400;
  line-height: 21.1px;
  color: #181818;
}

/* info block styles end  */

/* portfolio block styles start  */

.portfolio_parent-block {
  margin-top: 102px;
}

.portfolio_parent-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
}

.portfolio_child-block {
  width: 85.5vw;
  display: flex;
  flex-direction: row;
  margin-top: 1.8vw;
  justify-content: space-between;
}

.portfolio__child_right-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 2.4vw;
}

.portfolio_image-block1 {
  background: url(../images/Rectangle184.jpg) no-repeat;
  background-position-x: 50%;
  background-position-y: 10%;
  width: 41.6vw;
  height: 28vw;
  background-size: 100% 100%;
}

.portfolio_image-block2 {
  width: 19.6vw;
  height: 13.2vw;
  background: url(../images/Rectangle185.jpg) no-repeat;
  background-position-x: 100%;
  background-position-y: 30%;
  background-size: 100% 100%;
}

.portfolio_image-block3 {
  width: 19.6vw;
  height: 13.2vw;
  background: url(../images/Rectangle187.jpg) no-repeat;
  background-position-x: 100%;
  background-position-y: 30%;
  background-size: 100% 100%;
}

.portfolio_image-block4 {
  margin-top: 1.5vw;
  width: 19.6vw;
  height: 13.2vw;
  background: url(../images/Rectangle186.jpg) no-repeat;
  background-position-x: 100%;
  background-position-y: 30%;
  background-size: 100% 100%;
}

.portfolio_image-block5 {
  margin-top: 1.5vw;
  width: 19.6vw;
  height: 13.2vw;
  background: url(../images/Rectangle188.jpg) no-repeat;
  background-position-x: 100%;
  background-position-y: 30%;
  background-size: 100% 100%;
}

.portfolio_info-block1 {
  padding-top: 20.8vw;
  margin-left: 1.7vw;
}

.portfolio_image-data1 {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.8vw;
  color: #fff;
}

.portfolio_image-title1 {
  font-size: 20.5px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
}

.portfolio_info-block {
  padding-top: 8.4vw;
  margin-left: .7vw;
}

.portfolio_image-data {
  font-size: 10.8px;
  font-weight: 400;
  line-height: 1.5vw;
  color: #fff;
}

.portfolio_image-title {
  font-size: .815em;
  font-weight: 550;
  line-height: 1.3vw;
  color: #fff;
}

/* portfolio block styles end  */

/* about us styles start  */

.aboutUs-block {
  margin-top: 5.3vw;
}

.aboutUs-block>div {
  width: 85.5vw;
}

.aboutUs_child-block1 {
  background: url(../images/Rectangle\ 213.png) no-repeat;
  margin-bottom: 18px;
  padding-top: 4.2vw;
  padding-left: 41.3vw;
  padding-bottom: 5vw;
}

.aboutUs_child-block2 {
  background: url(../images/Rectangle\ 214.png) no-repeat;
  background-position: 100%;
  margin-bottom: 28px;
  padding-top: 4.9vw;
  padding-left: 4.7vw;
  padding-bottom: 5vw;
}

.aboutUs_child-block3 {
  background: url(../images/Rectangle\ 215.png) no-repeat;
  padding-top: 3.5vw;
  padding-left: 42.7vw;
  padding-bottom: 5vw;
}

.aboutUs_info-block2 {
  background-color: white;
  width: 39.55vw;
  padding: 3.5vw 3.5vw 4.2vw;
}

.aboutUs_info-block3,
.aboutUs_info-block1 {
  background-color: white;
  width: 39.55vw;
  padding: 3.5vw 3.5vw 5.3vw;
}

.aboutUs-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 2.5vw;
  color: #181818;
}

.aboutUs-desc {
  width: 35vw;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #B6B6B6;
}

.detail-btn {
  background-color: transparent;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  font-size: 14px;
  padding: 10px 40px;
  transition: .4s;
  width: 260px;
}

.detail-btn:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: .4s;
}

.br {
  color: transparent;
  width: 50px;
}

/* footer styles start  */

footer {
  width: 100%;
  background: #181818;
  padding: 56px 99px 25px 98px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-list_title {
  width: 120%;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.parent-block_footer {
  display: flex;
  justify-content: space-between;
}

.child-block_footer1 {
  display: flex;
  flex-direction: column;
}

.footer-list1 {
  margin-top: 1px;
  margin-bottom: 13px;
}

.footer-list_item1 {
  cursor: pointer;
  width: 168px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 18.6px;
}

.footer-list_item1>p {
  color: #fff;
  font-size: 13px;
  font-weight: 800;
  line-height: 15px;
}

.footer-list2 {
  margin-top: 16px;
  margin-bottom: 20px;
}

.footer-list_item2 {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-list_item2:nth-child(1) {
  margin-top: 19px;
}

.footer-list_item2:nth-child(2) {
  margin-top: 16px;
}

.footer-list_item2:nth-child(3) {
  margin-top: 16px;
}

.footer-list_item2>p {
  margin-left: 10px;
  color: #fff;
  font-weight: 1000;
  font-size: 12px;
  line-height: 18.6px;
}

.facebook {
  margin-left: 18px !important;
}

.instagram {
  margin-left: 18px !important;
}

.youtube {
  margin-left: 18px !important;
}

.footer-list_item3 {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.footer-list_item3>img {
  margin-left: 6px;
}

.footer-list_item3>p {
  margin-left: 15px;
  color: #fff;
  font-size: 13px;
}

.footer_list-hr {
  width: 14.7vw;
  border-radius: 10px;
  height: 2px;
  background: #262626;
  border: none;
  margin-top: 7px;
}

.footer_bottom-hr {
  width: 85.7vw;
  border-radius: 19px;
  height: 2px;
  background: #262626;
  margin-top: 27px;
  margin-bottom: 16px;
  border: none
}

.footer_bottom-title {
  text-align: center;
  color: white;
  font-size: 13px;
  font-weight: 700;
  line-height: 15.73px;
}

.map {
  width: 63.5vw;
  height: 341px;
  margin-bottom: 4.5px;
  margin-left: 5vw;
}

/* footer styles end  */

/* page 2 styles start  */

.aboutUs-container {
  width: 63.5vw;
  margin: 32px 0 93px 99px;
  padding-top: 1.5px;
}

.aboutUs-title2 {
  font-size: 32px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 20px;
}

.aboutUs-desc2 {
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  color: #7F8D97;
}